apiVersion: v1
baseDomain: "{{ base_domain }}"
compute:
- hyperthreading: Enabled   
  name: worker
  replicas: 3
controlPlane:
  hyperthreading: Enabled   
  name: master
  replicas: 3 
metadata:
  name: "{{ env_name }}"
platform:
  vsphere:
    vcenter: "{{ vcenter_hostname }}"
    username: "{{ vcenter_username }}"
    password: "{{ vcenter_password }}"
    datacenter: "{{ vmware_datacenter }}" 
    defaultDatastore: "{{ datastore }}"
pullSecret: '{{ pull_secret }}'
sshKey: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"